{% load staticfiles %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% render_bundle 'main' 'js' %}
</head>
<body>
	<header>
		<div id="title">Web DB App</div>
	</header>
		<div class="container">
			<div id="intro">
				<div class="timestap-container">
					<p class="timestap">UPDATED Nov. 24 2019 at 3:10 PM</p>
				</div>
				<h1>Dashborad</h1>
				<h2>Placeholder</h2>
			</div>
		</div>
		<div class="container">
			<div class="card">
				<p>Text</p>	
			</div><div class="card center">
				<p>Text</p>	
			</div><div class="card">
				<p>Text</p>
			</div>	
		</div>
		<table class="container">
			<thead>
				<tr>
					<th>Col1</th>
					<th>Col2</th>
					<th>Col3</th>
					<th>Col4</th>
					<th>Col5</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Data</td>
					<td>Data</td>
					<td>Data</td>
					<td>Data</td>
					<td>Data</td>
				</tr>
				<tr>
					<td>Data</td>
					<td>Data</td>
					<td>Data</td>
					<td>Data</td>
					<td>Data</td>
				</tr>
				<tr>
					<td>Data</td>
					<td>Data</td>
					<td>Data</td>
					<td>Data</td>
					<td>Data</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>