{% load staticfiles %}
{% load render_bundle from webpack_loader %}
{% load sass_tags %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Sidebar 08</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


		{% comment %} <link rel="stylesheet" href={% static 'src/css/style.css'%}> {% endcomment %}
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    {{ form.media.css }}
    {% render_bundle 'main' %}

    <link href="{% sass_src 'src/scss/style.scss' %}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    {% include "elements/header.html" %}
		<div class="container d-md-flex align-items-stretch">
      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">Dashboard</h2>
        {% include "elements/timestamp.html" %}
      </div>
      <nav id="sidebar">
        <div class="p-4 pt-5" id="sidebar-content">
          <div id="form" class="mb-5">
            <h5>Filters</h5>
            <form action='/polls/candidate' method="post" class="subscribe-form">
                {% csrf_token %}
                Dates:
                <div class="form-group d-flex">
                    {{ form.daterange.errors }}
                    {% comment %} {{ form.daterange.label_tag }} {% endcomment %}
                    {{ form.daterange }}
                </div>
                State:
                <div class="form-group d-flex">
                    {{ form.state.errors }}
                    {% comment %} {{ form.candidates.label_tag }} {% endcomment %}
                    {{ form.state }}
                </div>
                Candidates:
                <div class="form-group d-flex">
                    {{ form.candidates.errors }}
                    {% comment %} {{ form.candidates.label_tag }} {% endcomment %}
                    {{ form.candidates }}
                </div>
                Outlets:
                <div class="form-group d-flex">
                    {{ form.outlets.errors }}
                    {% comment %} {{ form.candidates.label_tag }} {% endcomment %}
                    {{ form.outlets }}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            <form/>
          </div>
        </div>
      </nav>
		</div>
  </body>

<script>
	// functionality for the date range picker
	$(function() {
		$('input[name="daterange"]').daterangepicker({
			opens: 'right'
		});
});
</script>

<script>
	// When the user scrolls the page, execute myFunction
	window.onscroll = function() {myFunction()};

	// Get the header
	var header = document.getElementById("myHeader");
	var sidebar = document.getElementById("sidebar");

	// Get the offset position of the navbar
	var stickyH = header.offsetTop;
	var stickyS = sidebar.offsetTop;

	// Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
	function myFunction() {
		if (window.pageYOffset > stickyS) {
			sidebar.classList.add("sticky");
		} else {
			sidebar.classList.remove("sticky");
		}

		if (window.pageYOffset > stickyH) {
			header.classList.add("sticky");
		} else {
			header.classList.remove("sticky");
		}
	}
</script>

{{ form.media.js }}

</html>