{% load staticfiles %}
{% load render_bundle from webpack_loader %}
{% load sass_tags %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Sidebar 08</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		
		{% comment %} <link rel="stylesheet" href={% static 'src/css/style.css'%}> {% endcomment %}
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>

    {{ form.media.css }}
    {% render_bundle 'main' %}

    <link href="{% sass_src 'src/scss/style.scss' %}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    {% include "elements/header.html" %}
		<div class="container d-md-flex align-items-stretch">
      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">Dashboard</h2>
        {% include "elements/timestamp.html" %}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <div class="container d-md-flex align-items-stretch">
          <canvas id="pollChart" width="768" height="400"></canvas>
        </div>
        <div class="container d-md-flex align-items-stretch">
          <canvas id="covChart" width="768" height="400"></canvas>
        </div>
        <table id='overview_table'></table>
        <p>The most significant negative correlation occurred between {{cor_min_series | safe}} and {{cor_min_candidate | safe}} with the value: {{cor_min_val | safe}}</p>
        <p>The most significant positive correlation occurred between {{cor_max_series | safe}} and {{cor_max_candidate | safe}} with the value: {{cor_max_val | safe}}</p>
        <div class="container no-gutters d-md-flex align-items-stretch" id="gdelt_heatmap">
          {{heatmap | safe}}
        </div>
        <div class="container no-gutters d-md-flex align-items-stretch" id="gdelt_heatmap">
          {{radar | safe}}
        </div>
        <div class="container no-gutters d-md-flex align-items-stretch" id="gdelt_heatmap">
          {{scatter | safe}}
        </div>
      </div>
      <nav id="sidebar">
        <div class="p-4 pt-5" id="sidebar-content">
          <div id="form" class="mb-5">
            <h5>Filters</h5>
            <form action='/polls/main_page' method="post" class="subscribe-form">
              {% csrf_token %}
              Dates:
              <div class="form-group d-flex">
                {{ form.daterange.errors }}
                {% comment %} {{ form.daterange.label_tag }} {% endcomment %}
                {{ form.daterange }}
              </div>
              State:
              <div class="form-group d-flex">
                {{ form.state.errors }}
                {% comment %} {{ form.candidates.label_tag }} {% endcomment %}
                {{ form.state }}
              </div>
              Candidates:
              <div class="form-group d-flex">
                {{ form.candidates.errors }}
                {% comment %} {{ form.candidates.label_tag }} {% endcomment %}
                {{ form.candidates }}
              </div>
              Outlets:
              <div class="form-group d-flex">
                {{ form.outlets.errors }}
                {% comment %} {{ form.candidates.label_tag }} {% endcomment %}
                {{ form.outlets }}
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            <form/>
          </div>
        </div>
      </nav>
		</div>
  </body>

<script>
	// functionality for the date range picker
	$(function() {
		$('input[name="daterange"]').daterangepicker({
			opens: 'right'
		});
});
</script>

<script type="text/javascript">
  // do initial charting
  var daterange = $('#id_daterange').get(0).value
  var candidates = $('#id_candidates').val().join('-')
  var outlets = $('#id_outlets').val().join('-')
  console.log(daterange, candidates, outlets)
  $.ajax({
    type:"POST",
    url: '{% url "cov_json_post" %}',
    data: {'daterange': daterange,
        'candidates': candidates,
        'outlets': outlets,
        'csrfmiddlewaretoken': '{{ csrf_token }}',
    },
    success: function(data) {
      var ctx = $("#covChart").get(0).getContext("2d");
      bigChart = new Chart(ctx, {
        type: 'line', data: data,
        options: {
          title: {
            display: true,
            text: 'Weekly Media Coverage Average (%)'
          }
        }
      });
    },
  });
</script>

<script type="text/javascript">
  // do initial charting
  var daterange = $('#id_daterange').get(0).value
  var candidates = $('#id_candidates').val().join('-')
  console.log(daterange, candidates)
  $.ajax({
    type:"POST",
    url: '{% url "poll_json_post" %}',
    data: {'daterange': daterange,
        'candidates': candidates,
        'csrfmiddlewaretoken': '{{ csrf_token }}',
    },
    success: function(data) {
      var ctx = $("#pollChart").get(0).getContext("2d");
      bigChart = new Chart(ctx, {
        type: 'line', data: data,
        options: {
          title: {
            display: true,
            text: 'Weekly Polling Average (%)'
          }
        }
      });
    },
  });
</script>

<script>
	// When the user scrolls the page, execute myFunction
	window.onscroll = function() {myFunction()};

	// Get the header
	var header = document.getElementById("myHeader");
	var sidebar = document.getElementById("sidebar");

	// Get the offset position of the navbar
	var stickyH = header.offsetTop;
	var stickyS = sidebar.offsetTop;

	// Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
	function myFunction() {
		if (window.pageYOffset > stickyS) {
			sidebar.classList.add("sticky");
		} else {
			sidebar.classList.remove("sticky");
		}

		if (window.pageYOffset > stickyH) {
			header.classList.add("sticky");
		} else {
			header.classList.remove("sticky");
		}
	}
</script>

<script type="text/javascript">
  // load the overview table
  // var $table = $('#overview_table')
  $(function() {
    $('#overview_table').bootstrapTable({
      striped: true,
      pagination: true,
      // showColumns: true,
      // showToggle: true,
      // dataSortable : true,
      showExport: true,
      sortable: true,
      paginationVAlign: 'both',
      pageSize: 10,
      pageList: [10, 25, 50, 100, 'ALL'],
      columns: {{ overview_columns|safe }},
      data: {{ overview_data|safe }},
      sortName: "pct", sortOrder: "desc",
    });
  });
</script>


{{ form.media.js }}

</html>