{% load staticfiles %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>

<head>
	<title></title>
	{% render_bundle 'main' %}
</head>

<body>
	<header>
		<div id="title">Web DB App</div>
	</header>
		<div class="container">
			<div id="intro">
				<div class="timestap-container">
					<p class="timestap" id="timestamp">
					</p>
				</div>
				<h1>Dashboard</h1>
				<h2>Placeholder</h2>
				<h3>Here we should write some cool introduction.</h3>
			</div>
		</div>
		<div class="container">
			<div class="card center">
				<form action='/polls/main_page' method="post">
					{% csrf_token %}
					<div class="form-group">
						{{ form.daterange.errors }}
						{{ form.daterange.label_tag }}
						{{ form.daterange }}
					</div>
					<div class="form-group">
						<label for="candidates">Candidates</label>
						<div id="candidates" class="btn-group btn-group-toggle" data-toggle="buttons" role="group" aria-label="Candidates">
							<label class = "btn btn-secondary">
								<input class="form-check-input" type = "checkbox"> Option 1
							</label>
							
							<label class = "btn btn-secondary">
								<input class="form-check-input" type = "checkbox"> Option 2
							</label>
							
							<label class = "btn btn-secondary">
								<input class="form-check-input" type = "checkbox"> Option 3
							</label>
						</div>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				<form/>
			</div>
		</div>
		<table class="container" id="corr_data">
			{{ corr_table | safe }}
		</table>

		<div class="container">
			<canvas id="myBigChart" width="768" height="400"></canvas>
			<script type="text/javascript">
				// this updates the graph
				var daterange = $('#id_daterange').get(0).value
				console.log(daterange)
				// console.log($('#id_daterange').data('daterangepicker').startDate._d)
				$.ajax({
					type:"POST",
					url: '{% url "poll_json_post" %}',
					data: {'daterange': daterange,
							'csrfmiddlewaretoken': '{{ csrf_token }}',
					},
					success: function(data) {
						var ctx = $("#myBigChart").get(0).getContext("2d");
						bigChart = new Chart(ctx, {
							type: 'line', data: data
						});
					},
				});
			</script>
		</div>
		<div id="gdelt_heatmap">
			{{heatmap | safe}}
		</div>
	</body>


<script>
	// functionality for the date range picker
	$(function() {
		$('input[name="daterange"]').daterangepicker({
			opens: 'left'
		});
});
</script>

{% comment %} script for timestamp processing {% endcomment %}
<script>
	var currentDate = new Date().toLocaleDateString('de-DE', {
		day : 'numeric',
		month : 'short',
		year : 'numeric',
		hour: '2-digit',
		minute: '2-digit',
	});
	var ts = "Updated " + currentDate
	document.getElementById("timestamp").innerHTML = ts
	console.log(ts)
</script>

</html>